<p id="notice"><%= notice %></p>

<p>
  <strong>サイト名:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @site.caption %>
</p>

<p>
  <strong>Release status:</strong>
  <%= @site.release_status %>
</p>
